<!DOCTYPE html>
<html lang="en">
<head>

    {{template "head"}}


</head>

<body>
{{template "topbar"}}

<div class="ch-container">
    <div class="row">

        {{template "menu"}}
        {{template "noscript"}}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            {{template "path"}}

            <div>
                {{range $k, $v :=  .tables}}

                    <div class="row">
                        <div class="box col-md-12">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2>{{$v.DisplayName}}</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                                    class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                                    class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">


                                    <table id="example" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            {{range $i, $name :=  $v.Title}}
                                                <th value="{{index $v.Field $i}}">{{$name}}</th>
                                            {{end}}
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            {{range $i, $name :=  $v.Title}}
                                                {{/*{{ index .tables.Field 1}}*/}}
                                                <th value="{{index $v.Field $i}}">{{$name}}</th>

                                            {{end}}
                                        </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div><!--/span-->

                {{end}}

            </div>
            <!-- content ends -->
        </div><!--/#content.col-md-0-->

    </div><!--/fluid-row-->

    <hr>

    {{template "modal_box"}}
    {{template "footer"}}

</div><!--/.fluid-container-->

{{template "external"}}

<script>
    $(document).ready(function () {
        console.log($('#example').DataTable({
            "ajax": 'curd/role/list'
        }));
    })
</script>
</body>
</html>


