<!DOCTYPE html>
<html lang="en">
<head>

    {{template "head"}}
    <link id="bs-css" href="{{.site}}" rel="stylesheet">

</head>

<body>
{{template "topbar"}}

<div class="ch-container"> <!-- container start -->

    <div class="row"><!-- row start -->

        {{template "menu"}}
        {{template "noscript"}}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            {{template "path"}}
            <div>
                {{range $k, $line :=  .tables}}

                    <div class="row">
                       {{range $k,$v := $line }}
                           {{ $lenTitle := len $v.Title}}
                           {{if  le $lenTitle  5}}
                               <div class="box col-md-6">
                           {{else}}
                               <div class="box col-md-12">
                           {{end}}
                           <div class="box-inner">

                               <div class="box-header well" data-original-title="">
                                   <h2>{{$v.DisplayName}}</h2>

                                   <div class="box-icon">
                                       <a href="#" class="btn btn-setting btn-round btn-default"><i
                                                   class="glyphicon glyphicon-cog"></i></a>
                                       <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                   class="glyphicon glyphicon-chevron-up"></i></a>
                                       <a href="#" class="btn btn-close btn-round btn-default"><i
                                                   class="glyphicon glyphicon-remove"></i></a>
                                   </div>
                               </div>
                               <div class="table-button-box">
                                   <span class="table-button">
                                       <button id="addRow" class="btn btn-success btn-sm sugar-btn">Add </button>
                                       <button id="deleteRow" class="btn btn-danger btn-sm sugar-btn">Delete</button>
                                       <button id="updateRow" class="btn btn-info btn-sm sugar-btn">Update</button>
                                   </span>
                               </div>

                               <div class="box-content">


                                   <table id="role" class="display" style="width:100%">
                                       <thead>
                                       <tr>
                                           {{range $i, $name :=  $v.Title}}
                                               <th>{{$name}}</th>
                                           {{end}}
                                       </tr>
                                       </thead>
                                       <tfoot>
                                       <tr>
                                           {{range $i, $name :=  $v.Title}}
                                               {{/*{{ index .tables.Field 1}}*/}}
                                               <th>{{$name}}</th>

                                           {{end}}
                                       </tr>
                                       </tfoot>
                                   </table>


                               </div>
                           </div>
                           </div>
                        {{end}}
                    </div><!--/span-->

                {{end}}

            </div>
            <!-- content ends -->
        </div><!--/#content.col-md-0-->

    </div><!-- row end -->

    <hr>
    {{template "modal_box"}}
    {{template "footer"}}

</div><!-- container end -->

{{template "external"}}

<script>
    // todo 遍历获取表数据


    $(document).ready(function () {
        //todo 可以拿到配置进行表相关配置
        var v = {{.config}};
        var selector = '#role';
        var ajaxUrl = 'curd/role/list';
        var t = $(selector).DataTable({
            "ajax": ajaxUrl,
        });

        var counter = 1;
        $('#addRow').on( 'click', function () {
            t.row.add( [
                counter +'.1',
                counter +'.2',
                counter +'.3',
                v,
            ] ).draw( false );

            counter++;
        } );

        // Automatically add a first row of data
        // $('#addRow').click();
    })
</script>
</body>
</html>


