{{define "menu"}}
    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <li class="nav-header">Close</li>
                <div class="nav-sm nav nav-stacked">

                </div>
                <ul class="nav nav-pills nav-stacked main-menu">
                   {{ .menu }}
                </ul>
                {{/*<label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>*/}}
            </div>
        </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->


{{end}}